// COLORS
$color-primary: #397cc4;
$color-primary-dark: #2865A7;

$color-grey-light: #EEE;
$color-grey-light-2: #999;
$color-grey-light-3: #AAA;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.4rem;
